In [26]:
import psycopg2
from psycopg2 import OperationalError
from urllib.parse import urlparse

In [27]:
# Connection to db

# Provide your connection URL
DATABASE_URL = "postgresql://postgres:mypassword@localhost:5432/postgres"


def create_connection(url):
    try:
        # Parse the connection URL
        parsed_url = urlparse(url)

        # Extract connection details
        host = parsed_url.hostname
        port = parsed_url.port
        database = parsed_url.path.lstrip('/')
        username = parsed_url.username
        password = parsed_url.password

        # Establish a connection
        connection = psycopg2.connect(
            host=host,
            port=port,
            database=database,
            user=username,
            password=password
        )

        print("Connection to PostgreSQL successful!")
        return connection

    except OperationalError as e:
        print(f"The error '{e}' occurred while connecting to PostgreSQL.")

# Create a connection using the URL
connection = create_connection(DATABASE_URL)

Connection to PostgreSQL successful!

In [29]:
# Print all public tables

def query_all_tables(connection):
    cursor = connection.cursor()

    try:
        # Query all table names
        cursor.execute("""
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = 'public'
            ORDER BY table_name
        """)

        # Fetch all table names
        table_names = cursor.fetchall()

        # Print table names
#         for name in table_names:
#             print(name[0])
        print([i[0] for i in table_names])

    except OperationalError as e:
        print(f"The error '{e}' occurred while querying tables.")

    cursor.close()

# Call the function to query all tables
query_all_tables(connection)

['chat_messages', 'chat_sessions', 'chatbots', 'session_chatbots', 'session_users', 'users']

In [32]:
tables = ['chat_messages', 'chat_sessions', 'chatbots', 'session_chatbots', 'session_users', 'users']

In [36]:


def print_first_10_rows_with_headers(connection, table_name):
    cursor = connection.cursor()

    try:
        # Query the column names
        cursor.execute(f"SELECT column_name FROM information_schema.columns WHERE table_name = '{table_name}'")
        column_names = [column[0] for column in cursor.fetchall()]

        # Query the first 10 rows from the table
        cursor.execute(f"SELECT * FROM {table_name} LIMIT 10")

        # Fetch all rows
        rows = cursor.fetchall()

        # Print column headers
        print(column_names)

        if rows:
            # Print the rows
            for row in rows:
                print(row)
        else:
            print("No rows found.")

    except OperationalError as e:
        print(f"The error '{e}' occurred while querying the table.")

    cursor.close()

# Example usage:
# Call the function to print the first 10 rows of the "chatbots" table with column headers
for t in tables:
    print(t)
    print_first_10_rows_with_headers(connection, t)
    print()

chat_messages
['id', 'sender_id', 'sender_type', 'chat_session_id', 'message', 'timestamp']
(1, 'a', 'user', 13, 'a', datetime.datetime(2023, 5, 15, 11, 41, 49, 403040))
(2, 'a', 'user', 13, 'a', datetime.datetime(2023, 5, 15, 11, 43, 4, 959647))
(3, '1', 'chatbot', 13, 'Hello, there!', datetime.datetime(2023, 5, 15, 11, 43, 4, 983604))
(4, 'a', 'user', 13, 'a', datetime.datetime(2023, 5, 15, 11, 44, 28, 851508))
(5, '1', 'chatbot', 13, 'Hello, there!', datetime.datetime(2023, 5, 15, 11, 44, 28, 870932))

chat_sessions
['id']
(2,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)

chatbots
['id', 'name']
(1, 'chatbot1')

session_chatbots
['chatbot_id', 'chat_session_id']
(1, 2)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(1, 11)
(1, 12)

session_users
['user_id', 'chat_session_id']
('a', 2)
('a', 4)
('a', 5)
('a', 6)
('b', 7)
('a', 8)
('a', 9)
('a', 10)
('a', 11)
('a', 12)

users
['id', 'passcode']
('a', 'a')
('b', 'b')

In [30]:
def print_first_10_rows(connection, table_name):
    cursor = connection.cursor()

    try:
        # Query the first 10 rows from the table
        cursor.execute(f"SELECT * FROM {table_name} LIMIT 10")

        # Fetch all rows
        rows = cursor.fetchall()

        # Print the rows
        for row in rows:
            print(row)

    except OperationalError as e:
        print(f"The error '{e}' occurred while querying the table.")

    cursor.close()

# Example usage:
# Call the function to print the first 10 rows of the "chatbots" table
print_first_10_rows(connection, 'users')

('a', 'a')

In [ ]:
def clear_tables_by_names(connection, table_names):
    cursor = connection.cursor()

    try:
        # Iterate over the provided table names
        for table_name in table_names:
            # Clear the table by deleting all rows
            cursor.execute(f"DELETE FROM {table_name}")

            # Commit the changes
            connection.commit()

            print(f"Table '{table_name}' cleared successfully.")

    except OperationalError as e:
        print(f"The error '{e}' occurred while clearing tables.")

    cursor.close()

# Example usage:
# Call the function to clear tables by providing a list of table names
clear_tables_by_names(connection, ['chat_message', 'chat_messages', 'chat_sessions', 'chatbots', 'session_chatbots', 'session_users', 'user', 'users'])

In [18]:
def delete_table_by_name(connection, table_name):
    cursor = connection.cursor()

    try:
        # Delete the table
        cursor.execute(f"DROP TABLE {table_name}")

        # Commit the changes
        connection.commit()

        print(f"Table '{table_name}' deleted successfully.")

    except OperationalError as e:
        print(f"The error '{e}' occurred while deleting the table.")

    cursor.close()

# Example usage:
# Call the function to delete a table by providing the table name
delete_table_by_name(connection, 'chatbots')

Table 'chatbots' deleted successfully.

In [21]:


def print_column_data_types(connection, table_name):
    cursor = connection.cursor()

    try:
        # Query column names and data types
        cursor.execute(f"SELECT column_name, data_type FROM information_schema.columns WHERE table_name = '{table_name}'")

        # Fetch all rows
        columns = cursor.fetchall()

        if columns:
            # Print column names and data types
            for column in columns:
                column_name, data_type = column
                print(f"Column: {column_name} - Data Type: {data_type}")
        else:
            print("No columns found.")

    except OperationalError as e:
        print(f"The error '{e}' occurred while querying the table.")

    cursor.close()

# Example usage:
# Call the function to print column names and data types for the "chatbots" table
print_column_data_types(connection, 'chat_sessions')

Column: id - Data Type: integer